@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(
    to bottom,
    #020617, /* slate-950 */
    #172554, /* blue-950 */
    #1e1b4b  /* indigo-950 */
  );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


button{
  cursor: pointer;
}

@keyframes glow {
  0%, 100% { text-shadow: 0 0 4px #FFD700, 0 0 8px #FFD700; }
  50% { text-shadow: 0 0 8px #FFD700, 0 0 16px #FFD700; }
}

.animate-pulse-glow {
  animation: glow 1s infinite alternate;
}
